* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 80%;
    background-color: #b91450;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

.dati {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.col {
    display: flex;
    flex-direction: column;
}